body{
	background-color: #EDEEF0;
	margin: 0px 0px;
}
#wrapper{
	margin-left: 50px;
	margin-right: 100px;
	margin-top: 30px;
	min-width: 300px;
/*	width: 1230px;*/
}
#header{
	margin-bottom: 5px;
    margin-top: 5px;
    color:white;
    font: bold 30px Serif;
    padding-left:  30px;
    text-align: left;
    padding-right: 30px;
    padding-top: 20px;
	padding-bottom: 20px;
    background-color: #305075;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#305075), color-stop(50%,#507299), color-stop(51%,#507299), color-stop(100%,#507299));    
    min-width: 380px;
}
#footer{
	margin-top: 30px;
	color:white;
	text-align: center;
    font: bold 12px Serif;
    padding-left:  30px;
    padding-right: 30px;
    padding-top: 20px;
	padding-bottom: 20px;
    background-color: #305075;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#305075), color-stop(50%,#507299), color-stop(51%,#507299), color-stop(100%,#507299));  
    min-width: 390px;	
}
#clear{
	clear: both;
}
#textArea{
	font: 20px serif; 
	width: 100%;
	height: 200px;
}
#mainRef{
	margin-left: 10px;
	text-decoration: none;
}
#regRef
{
/*	margin-left: 100px;*/
	color: #2DA394;
	text-decoration: none;
}
#content{
/*	float: left;*/
	padding: 10px 40px 10px 10px;
	width: 100%;
/*	min-width: 460px;*/
	padding-left: 40px;
    border: 3px solid #305075;;
	margin-right: 400px;
    text-align: justify;
    font: bold 16px serif;
    background-color: #F1F1F1;
    border-top: 30px solid #305075; 
    border-top-left-radius: 10px;
}
.myButton {
	height: 30px;
	width: 200px;
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:2px;
	height: 50px; 
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color: #ffffff;
	font-family: Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#305075), color-stop(50%,#507299), color-stop(51%,#507299), color-stop(100%,#507299));    	
/*	margin: auto 140px;*/
}
#text{
	margin: auto 10px;
	color: #946E81;
}
#errorFields{
	padding: 5px 5px;
	font-size: 20px;	
	width: 493px;
	margin-bottom: 10px;
	border: 1px solid red;
	border-radius: 2px;
	border-width: 1px;
	color: red;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}
#succesful{
	padding: 5px 5px;
	font-size: 20px;	
/*	width: 493px;*/
	margin-bottom: 10px;
	border: 1px solid green;
	border-radius: 2px;
	border-width: 1px;
	color: green;
}
.myButton:active {
	position:relative;
	top:1px;
}